@import '../core/parameters.styl'

html, body
    background: $bodybackgroundcolor
    color: $bodycolor
    font-family: $bodyfontfamily
    font-size: $bodyfontsize
    height: 100%
    min-height: 100%
    width: 100%

@import '../components/*'
