// BREAKPOINTS
$bp1=   480px
$bp2=   768px
$bp3=   900px
$bp4=   1100px

// COLOURS

//   Main colours
$maincolor=          #222222
$darkmaincolor=      darken($maincolor, 15%)
$lightmaincolor=     lighten($maincolor, 15%)
$secondcolor=        #F80000
$darksecondcolor=    darken($secondcolor, 15%)
$lightsecondcolor=   lighten($secondcolor, 15%)

//   Greyscale
$black=           #000000
$darkgrey=        lighten($black, 25%)
$grey=            lighten($black, 50%)
$lightgrey=       lighten($black, 75%)
$white=           #FFFFFF

//   Messages colours
$alertcolor=      #FCF8E3
$errorcolor=      #DA4F49
$infocolor=       #D9EDF7
$inverscolor=     #414141
$successcolor=    #5BB75B
$warningcolor=    #FAA732

//   Links colours
$linkcolor=          #013568
$linkcolorvisited=   darken($linkcolor, 15%)

//   Buttons colours
$buttoncolor=        $white
$buttonbackground=   #5BB75B


// TYPOGRAPHY
$mainfont=       'Open Sans', sans-serif, Helvetica, Arial
$secondfont=     'Munro', Georgia, Times, Times New Roman

// BODY PARAMETERS
$bodybackgroundcolor=    $white
$bodyfontfamily=         $mainfont
$bodyfontsize=           10px
$bodycolor=              $black
$bodylineheight=         1.35em
