.calltoaction-button
    background: rgba(0,115,230,0.9)
    color: #FFF
    font-family: $mainfont
    padding: 1em 1em
    box-shadow: 1px 1px 1px rgba(0,0,0,0.5)
    margin: 2em auto

.calltoaction-button:hover
    background: rgba(0,115,230,1)
    box-shadow: 1px 1px 5px rgba(0,0,0,0.8)
    cursor: pointer

.calltoaction-link
    font-size: 2rem
    color: rgba(0,115,230,0.9)
.calltoaction-link:hover
    cursor: pointer
