section.contacto-section#contacto
    div.contacto-div
        h1.contacto-title contacto
        p.contacto-text ¿Quieres preguntarnos algo o confirmar tu asistencia? Escríbenos.
        form.contacto-form
            span Nombre y Apellidos
            input(type="text")
            span Email
            input(type="text")
            span Texto
            textarea
            span.form-button Enviar
