footer.footer-section
    .footer-div
        span.footer-text Designed and developed by Alberto Chamorro
        ul.footer-list
            li: a.footer-social-link.gmail(href="mailto:a.chamorro.ruiz@gmail.com",target="new")
            li: a.footer-social-link.twitter(href="http://twitter.com/ach4m0",target="new")
            li: a.footer-social-link.github(href="http://github.com/ach4m0",target="new")
            li: a.footer-social-link.gplus(href="https://plus.google.com/+AlbertoChamorro",target="new")
