section.grandia-section#grandia
    div.grandia-pic
        h1.grandia-pic-title El gran día
    div.grandia-details
        .grandia-div
            h2.grandia-subtitle LA CEREMONIA
            p.grandia-text Empezaremos el viernes 15 de julio con una ceremonia a las 19:00 en el Mirador de Cuatrovientos
                          | donde seréis testigos de nuestra unión al aire libre.
        .grandia-div
            h2.grandia-subtitle LA CENA
            p.grandia-text Cuando terminemos la ceremonia nos trasladaremos a la finca romana, todo allí en el mirador.
                          |Tomaremos un rico cocktail seguido de una buena comilona.
        .grandia-div
            h2.grandia-subtitle LA FIESTA
            p.grandia-text Cerraremos esta noche mágica con un buena fiesta. Habrá buena música, bebidas con barra libre para todos y
                          | la mejor compañía. ¿Qué más se puede pedir?
    .grandia-donde
        .grandia-donde-box
            p.grandia-donde-text-deco >>
            p.grandia-donde-text Mirador de Cuatrovientos <br>
                                 |Recinto Real aeroclub de España <br>
                                 |Ctra. al Barrio de la Fortuna, n° 14 <br>
                                 |28054 Madrid <br>
                                 |Salida 30 de la M-40
        .grandia-donde-div-map
            iframe.grandia-donde-map(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3615.1653986668166!2d-3.7751458804217113!3d40.36497614996271!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4189b20e579dc3%3A0x54da16a54d25a54c!2sFincas+Bodas+en+El+Mirador+de+Cuatrovientos!5e0!3m2!1ses!2ses!4v1455099459821",frameborder="0",allowfullscreen)
