header.header-section#header
    div.header-title-box
        h1.header-title Alberto &
        h1.header-title Sabrina
        p.header-text ¡NOS CASAMOS!
    div.header-date-div
        span.header-date 15-07-2016
