section.products-section#bartop
    div.product-details.right
        h2.product-title Bartop
        p.product-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          |tempor incididunt ut labore et dolore magna aliqua.

        a.calltoaction-link Más información >
    div.product-img(style='background-image: url("/static/img/bartop.png")')
hr.separator
section.products-section#bartop2
    div.product-details
        h2.product-title Bartop2
        p.product-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        a.calltoaction-link Más información >
    div.product-img.right(style='background-image: url("/static/img/bartop.png")')
hr.separator
section.products-section#cabinet
    div.product-details.right
        h2.product-title Cabinet
        p.product-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          |tempor incididunt ut labore et dolore magna aliqua.
        a.calltoaction-link Más información >
    div.product-img(style='background-image: url("/static/img/cabinet.png")')
hr.separator
section.products-section#vinilos
    div.product-details
        h2.product-title Vinilos
        p.product-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          |tempor incididunt ut labore et dolore magna aliqua.
        a.calltoaction-link Más información >
    div.product-img.right(style='background-image: url("/static/img/vinilo.jpg")')
hr.separator
section.products-section#mandos-arcade
    div.product-details.right
        h2.product-title Mandos arcade
        p.product-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          |tempor incididunt ut labore et dolore magna aliqua.
        a.calltoaction-link Más información >
    div.product-img(style='background-image: url("/static/img/bartop.png")')
