doctype html
html
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title Alberto y Sabrina
        link(rel='stylesheet', href='/static/styles/index.css')
        script(type='text/javascript', src='/static/js/jquery.1.7.2.min.js')
        script(type='text/javascript', src='/static/js/menu.js')
        script(type='text/javascript', src='/static/js/index.js')
    body
        block content

