nav.menu-bar
    span.menu-button(onClick='$("#main-menu-list").toggle();')
    a.logo-outmenu(href='#header')
    ul.menu-list#main-menu-list
        li.menu-item
            a.menu-link(href='#header') Inicio
        li.menu-item
            a.menu-link(href='#bartop') Productos
        li.menu-item.logo-inmenu
            a(href='#header')
                img(src="/static/img/vodafone.png")
        li.menu-item
            a.menu-link(href='#footer') Contacto
        li.menu-item
            a.menu-link(href='#') Nosotros

