nav.menu-bar
    span.menu-button#menu-button
    a.logo-outmenu(href='#header')
    ul.menu-list#main-menu-list
        li.menu-item
            a.menu-link(href='#header') Inicio
        li.menu-item
            a.menu-link(href='#nosotros') Nosotros
        li.menu-item
            a.menu-link(href='#grandia') El gran día
        li.menu-item
            a.menu-link(href='#contacto') Contacto

