section.nosotros-section#nosotros
    div.nosotros-pic
        h1.nosotros-pic-title Nosotros
    div.nosotros-div-container
        div.nosotros-div.nosotros-first
            h1.nosotros-title Alberto
            p.nosotros-text Me acuerdo el primer día que entró Sabri por la puerta del instituto y yo pensé "¡qué chica más rara!".
                            | Ahora 10 años después no podría imaginar mi vida sin ella, y es por eso que
                            | estoy muy contento de por fin formalizar nuestra relación junto a nuestro hijo Jorge.
                            | ¡No podéis faltar!
        div.nosotros-separator

        div.nosotros-div.nosotros-second
            h1.nosotros-title Sabrina
            p.nosotros-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            |tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            |quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            |consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
